body{
  background:  url('images/background.jpg');
  background-color: #ffffff;

}
.h1{
    text-align : center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    color: #00FFFF;
}

.detail{
    align : left;
}
label{
  font-style: oblique;
  font-size: 20px;

}

.GIF{
  padding: 300px;
  background: url('images/cancerLogo.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  background-color: white;
  height: auto;
  width: auto;
}
