body{
    background: white url('verifybackground.jpg');
  }

.h1{
    text-align : center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    color: #8AB9C5;
}

.detail{
    align : left;
    
}